@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="hero-text-box">
        <div class="row">
            <h1>Matveckan</h1>
        </div>
        <div class="row">
            <p>Hjälper dig planera din matvecka!</p>
        </div>
        <div class="row">
            <a href="#" class="btn btn-ghost">Logga in</a>
        </div>
        <div class="row">
            <a href="#" class="btn btn-full">Registrera</a>
        </div>
    </div>
</div>
</body>
