@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>Denna veckas recept</h3>

<div class="container horizontal-scrollable">
    <div class="row flex-row flex-nowrap">
        <div class="col-xs-4 mon">
            <h5>Måndag</h5>
            <p>Spaghetti med köttfärsås</p>
        </div>
        <div class="col-xs-4 tue">
            <h5>Tisdag</h5>
        </div>
        <div class="col-xs-4 wed">
            <h5>Onsdag</h5>
        </div>
        <div class="col-xs-4 thur">
            <h5>Torsdag</h5>
        </div>
        <div class="col-xs-4 fri">
            <h5>Fredag</h5>
        </div>
        <div class="col-xs-4 sat">
            <h5>Lördag</h5>
        </div>
        <div class="col-xs-4 sun">
            <h5>Söndag</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="todayday">
            <h3 class="today">Idag</h3>
            <h5 class="day">Spaghetti och köttfärsås</h5>
        </div>
    </div>
    <div class="row">
        <a href="adddish"><div class="bigbox"></div></a>
        <div class="row">
        </div>
    </div>

</div>