<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="navbar-top-custom fixed-top">
                <div class="row">
                    <div class="col">
                        <div class="test">
                            <ion-icon name="menu-sharp"></ion-icon>
                        </div>
                        <div class="cog">
                            <ion-icon name="cog-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="profile">
                            <img src="~/img/customer-1.jpg">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="texter">
                            <p class="name">Patric Bergkvist</p>
                        </div>
                        <div class="info">
                            <p>258 sparade recept</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <nav class="navbar fixed-bottom border-top navbar-custom">
        <ion-icon name="home-outline"></ion-icon>
        <ion-icon name="add-outline"></ion-icon>
        <ion-icon name="remove-outline"></ion-icon>
        <ion-icon name="shuffle-outline"></ion-icon>
        <ion-icon name="cart-outline"></ion-icon>
    </nav>



    @* <footer class="border-top footer text-muted"> *@
    @* <footer class="fixed-bottom border-top">
        <div class="container">
        &copy; 2021 - Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
